.item-card {
  background-color: white;
  width: 250px;
  height: 400px;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1.5px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.item-card__image {
  background-color: #ebebeb;
  height: 200px;
  width: 90%;
  margin: 2% auto;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1.5px;
}

.item-card__info {
  margin: 15px 5%;

  :nth-child(2) {
    font-size: 0.7rem;
    font-weight: bold;
  }

  p {
    text-align: left;
    margin-top: 5px;
  }
}